html, body {
  min-height: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.background-image {
  width: 110%;
  height: 110%;
  left: 0;
  top: 0;
  position: absolute;
  /* background: url('../public/wallpaper.jpg') no-repeat left center / cover; */
}